<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

  <!-- The Dashboard -->
  <div class="bannner">
    <div class="mini-banner">
      <div class="white-logo"></div>
      <div class="school-name">School name</div>
    </div>
  </div>

  <div class="user-info">
    <div class="user-info-details">
      <div id="user-logo"></div>
      <div class="user-info-text">
        <div style="color: darkslategray;">Jessica John Jones</div>
        <div style="color: dimgray;">FS1 Acacia</div>
      </div>
    </div>
  </div>

  <div class="offer-card">
    <div id="text1">Now pay your fee monthly with @</div>
    <img id="icon-tick" src="https://cdn-icons-png.flaticon.com/512/1271/1271380.png">
    <div id="text2">0%</div>
    <div id="text3">Interest <br>pre-approved credit line</div>
    <div>Annual Fee</div>
    <div id="text4">&#x20B9; 3,40,000</div>
    <button id="activate-now" (click)="toggleForm()">Activate now</button>
  </div>

  <!-- The Form -->
  <div id="myModal" class="modal" *ngIf="displayForm">
    <div class="modal-content">
      <span class="close" (click)="toggleForm()">&times;</span>
      <p id="text5">Please enter your details below</p>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label>Phone Number</label><span *ngIf="profileForm.controls['phoneNumber'].valid"><img class="correct-tick"
            src="../assets/4315445.png"></span>
        <input class="w3-input" type="tel" maxlength="13" formControlName="phoneNumber">
        <br>
        <label>PAN Card Number</label><span *ngIf="profileForm.controls['panNumber'].valid"><img class="correct-tick"
            src="../assets/4315445.png"></span>
        <input class="w3-input" type="text" maxlength="10" formControlName="panNumber">
        <br>
        <label>Name as in PAN Card</label><span *ngIf="profileForm.controls['name'].valid"><img
            class="correct-tick" src="../assets/4315445.png"></span>
        <input class="w3-input" type="text" formControlName="name">
        <br>
        <label>Email</label><span *ngIf="profileForm.controls['email'].valid"><img class="correct-tick"
            src="../assets/4315445.png"></span>
        <input class="w3-input" type="email" formControlName="email">
        <br>
        <button id="cancel" (click)="toggleForm()">Cancel</button>
        <button id="activate" type="submit" [disabled]="!profileForm.valid">Activate Now</button>
      </form>
    </div>
  </div>
</body>

</html>